/* line 5, C:/OPT/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/OPT/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/OPT/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/OPT/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/OPT/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/OPT/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/OPT/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/OPT/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/OPT/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/index.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/index.scss */
html {
  color: black;
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 14, ../sass/index.scss */
html ::before, html ::after {
  clear: both;
}
/* line 20, ../sass/index.scss */
html body {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 27, ../sass/index.scss */
html body #app {
  width: 100%;
  height: 100%;
  display: block;
  background: #fef2f6;
}
/* line 33, ../sass/index.scss */
html body .make-up-nav {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 2;
  bottom: 0;
  background: white;
  box-shadow: 0 0 0.02rem 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 0.02rem 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0.02rem 0 rgba(0, 0, 0, 0.3);
  color: #999;
}
/* line 44, ../sass/index.scss */
html body .make-up-nav ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: flex;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  /*-webkit-flex-flow:row nowrap;*/
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
/* line 56, ../sass/index.scss */
html body .make-up-nav ul li {
  display: block;
  padding: .5rem;
  margin: 0 .5rem;
  font-size: 1rem;
  text-align: center;
  position: relative;
}
/* line 63, ../sass/index.scss */
html body .make-up-nav ul li img {
  width: 2rem;
  height: 2rem;
}
/* line 67, ../sass/index.scss */
html body .make-up-nav ul li p {
  text-align: center;
  margin: .2rem 0;
}
/* line 74, ../sass/index.scss */
html body .make-up-list {
  height: 100%;
  width: 100%;
  text-align: center;
}
/* line 78, ../sass/index.scss */
html body .make-up-list .top-bar {
  margin: 0 auto;
  position: relative;
  padding: 1rem  5%;
  display: flex;
  justify-content: space-between;
}
/* line 84, ../sass/index.scss */
html body .make-up-list .top-bar .broadcast-container {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.44);
  background-position: .1rem .07rem;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  color: #fff;
  font-size: .7rem;
  height: 2rem;
  line-height: 2rem;
  overflow: hidden;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: relative;
}
/* line 100, ../sass/index.scss */
html body .make-up-list .top-bar .audio-btn {
  background-size: 100% 100%;
  border-radius: 50%;
  height: 2rem;
  margin-left: 2rem;
  width: 2rem;
  background: #eee;
}
/* line 110, ../sass/index.scss */
html body .make-up-list .swiper-container {
  width: 90%;
  background: #ff3871;
}
/* line 115, ../sass/index.scss */
html body .make-up-list .btn-container {
  margin: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 120, ../sass/index.scss */
html body .make-up-list .btn-container .btn-try-game {
  display: inline-block;
  padding: .5rem 1rem;
  color: white;
  background: orange;
  -moz-border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  font: bold;
}
/* line 130, ../sass/index.scss */
html body .make-up-list .btn-container .btn-game-explain {
  color: #fb1f7f;
  font-size: .85rem;
  display: inline-block;
  text-align: center;
}
/* line 137, ../sass/index.scss */
html body .make-up-list .item-type-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* line 142, ../sass/index.scss */
html body .make-up-list .item-type-nav li {
  font-weight: 400;
  color: #fb1f7f;
  font-size: .6rem;
  line-height: 1rem;
}
/* line 148, ../sass/index.scss */
html body .make-up-list .item-type-nav .li-active {
  font-size: .6rem;
  font-weight: 600;
  border-bottom: 0.1rem solid #fb1f7f;
}
/* line 155, ../sass/index.scss */
html body .make-up-list .item-grid-container {
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  padding: .5rem;
  flex-wrap: wrap;
  flex-direction: row;
}
/* line 162, ../sass/index.scss */
html body .make-up-list .item-grid-container .make-up-item {
  background: #fff;
  width: calc(100% / 3 - 1rem );
  margin: 0.5rem;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
/* line 168, ../sass/index.scss */
html body .make-up-list .item-grid-container .make-up-item img {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: top;
}
/* line 174, ../sass/index.scss */
html body .make-up-list .item-grid-container .make-up-item .item-shop-price {
  color: #ff344c;
  font-size: 0.75rem;
  padding: .2rem;
}
/* line 179, ../sass/index.scss */
html body .make-up-list .item-grid-container .make-up-item .item-name {
  color: black;
  font-size: .78rem;
  word-spacing: .1rem;
  padding: .2rem;
}
/* line 185, ../sass/index.scss */
html body .make-up-list .item-grid-container .make-up-item .item-desc {
  padding: .2rem;
  font-size: .78rem;
}
/* line 189, ../sass/index.scss */
html body .make-up-list .item-grid-container .make-up-item .item-price {
  background: red;
  width: 100%;
  font-size: 1rem;
  color: white;
  padding: .5rem;
}
/* line 199, ../sass/index.scss */
html body .game-explain {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fb1f7f;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
/* line 208, ../sass/index.scss */
html body .game-explain .explain-inner {
  background-color: #fff;
  border-radius: .5rem;
  font-size: 1rem;
  height: 30rem;
  width: 80%;
  left: 10%;
  overflow-y: auto;
  top: 20%;
  padding: 1rem;
  position: absolute;
}
/* line 219, ../sass/index.scss */
html body .game-explain .explain-inner .btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: black;
}
/* line 225, ../sass/index.scss */
html body .game-explain .explain-inner .explain-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: .5rem;
  text-align: center;
}
/* line 231, ../sass/index.scss */
html body .game-explain .explain-inner .explain-item {
  display: block;
  text-align: left;
  margin: .2rem 0;
  font-weight: 500;
  line-height: 1.5rem;
}
/* line 240, ../sass/index.scss */
html body .user-login {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 247, ../sass/index.scss */
html body .user-login .user-login-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 255, ../sass/index.scss */
html body .user-login .login-inner {
  background: #fff;
  border-radius: 1rem;
  left: 50%;
  width: 84%;
  height: 50%;
  padding: 1rem;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  top: 50%;
}
/* line 265, ../sass/index.scss */
html body .user-login .login-inner .login-title {
  color: #333;
  font-weight: 700;
  text-align: center;
  font-size: 1.1rem;
}
/* line 271, ../sass/index.scss */
html body .user-login .login-inner .login-body {
  padding: 2rem 0.5rem;
}
/* line 274, ../sass/index.scss */
html body .user-login .login-inner .login-body .login-content .user-code-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 278, ../sass/index.scss */
html body .user-login .login-inner .login-body .login-content .user-code-container .user-pwd {
  width: 65%;
}
/* line 281, ../sass/index.scss */
html body .user-login .login-inner .login-body .login-content .user-code-container .btn-user-code {
  padding: .7rem .5rem;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  color: #ff7199;
  border: 1px solid #ff7199;
  font-size: .7rem;
  letter-spacing: .08rem;
}
/* line 292, ../sass/index.scss */
html body .user-login .login-inner .login-body .btn-login {
  width: 100%;
  color: white;
  margin-top: 2rem;
  background: #ff7199;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
}
/* line 301, ../sass/index.scss */
html body .user-login .login-inner .login-body .subscriber-agreement {
  padding: .8rem 0;
  color: #999;
  font-size: .8rem;
  letter-spacing: .1rem;
}
/* line 306, ../sass/index.scss */
html body .user-login .login-inner .login-body .subscriber-agreement span {
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: #fb1f7f;
}
/* line 316, ../sass/index.scss */
html body .subscribe-agreement-view {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 324, ../sass/index.scss */
html body .subscribe-agreement-view .agreement-inner {
  background: #fff;
  border-radius: 1rem;
  left: 50%;
  width: 80%;
  height: 80%;
  padding: 1rem;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  top: 50%;
  color: #fb1f7f;
}
/* line 336, ../sass/index.scss */
html body .subscribe-agreement-view .agreement-inner .btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: black;
}
/* line 342, ../sass/index.scss */
html body .subscribe-agreement-view .agreement-inner .agreement-body {
  padding: .5rem;
  margin-bottom: 1rem;
  text-align: left;
  letter-spacing: .08rem;
  width: 100%;
  height: 100%;
  margin: 10% 0;
  overflow: hidden;
  overflow-y: auto;
  margin: auto;
}
/* line 353, ../sass/index.scss */
html body .subscribe-agreement-view .agreement-inner .agreement-body .agreement-container {
  line-height: 1.1rem;
}
/* line 361, ../sass/index.scss */
html body .my-center {
  min-height: 100vh;
}
/* line 363, ../sass/index.scss */
html body .my-center .user-info {
  background: #ff7199;
  width: 100%;
  display: flex;
  align-items: center;
  height: 7.5rem;
  color: white;
}
/* line 371, ../sass/index.scss */
html body .my-center .user-info .head-icon {
  display: inline-block;
  width: 4.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  height: 4.5rem;
  overflow: hidden;
  -moz-border-radius: 2.6rem;
  -webkit-border-radius: 2.6rem;
  border-radius: 2.6rem;
}
/* line 379, ../sass/index.scss */
html body .my-center .user-info .head-icon img {
  width: 100%;
  height: 100%;
}
/* line 384, ../sass/index.scss */
html body .my-center .user-info .user-info-name {
  display: inline-block;
  position: relative;
  flex: 1;
}
/* line 388, ../sass/index.scss */
html body .my-center .user-info .user-info-name .user-name {
  font-weight: 700;
  font-size: 1.15rem;
  margin-bottom: .8rem;
}
/* line 393, ../sass/index.scss */
html body .my-center .user-info .user-info-name .user-id {
  font-size: 1rem;
  font-weight: 400;
}
/* line 397, ../sass/index.scss */
html body .my-center .user-info .user-info-name .arrow {
  position: absolute;
  border: .015rem solid #fff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  right: 1.5rem;
  top: 50%;
  border-width: 0 .15rem .15rem 0;
  width: 1.1rem;
  height: 1.1rem;
  margin-top: -.8rem;
}
/* line 412, ../sass/index.scss */
html body .my-center .info-detail {
  display: flex;
  justify-content: space-between;
  padding: .8rem .6rem;
}
/* line 416, ../sass/index.scss */
html body .my-center .info-detail .info-item {
  position: relative;
  background-image: linear-gradient(44deg, #ff9aa0, #ff7490);
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  color: white;
  flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  padding: .9rem;
  margin: 0rem 0.5rem;
  font-size: 1rem;
  color: white;
}
/* line 428, ../sass/index.scss */
html body .my-center .info-detail .info-item .info-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2.88rem;
  height: 3.28rem;
  opacity: .37;
}
/* line 436, ../sass/index.scss */
html body .my-center .info-detail .info-item .info-title {
  font-size: 1.05rem;
  font-weight: 700;
  margin-bottom: .8rem;
}
/* line 441, ../sass/index.scss */
html body .my-center .info-detail .info-item .info-value {
  font-size: 2rem;
  font-weight: 750;
  text-align: center;
  width: 4rem;
  margin-bottom: 1.2rem;
}
/* line 448, ../sass/index.scss */
html body .my-center .info-detail .info-item .info-btn {
  display: block;
  position: absolute;
  font-size: .8rem;
  font-weight: 600;
  color: #e01212;
  text-align: center;
  width: 5rem;
  padding: .5rem 0rem;
  -moz-border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  border-radius: 0.8rem;
  right: 0.8rem;
  bottom: 0.8rem;
}
/* line 462, ../sass/index.scss */
html body .my-center .info-detail .info-item .btn-charge {
  background: #fff7e1;
}
/* line 465, ../sass/index.scss */
html body .my-center .info-detail .info-item .btn-share {
  background-color: #ffca2f;
}
/* line 470, ../sass/index.scss */
html body .my-center .func-lst {
  color: black;
  font-weight: 700;
  font-size: 1.05rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1rem;
}
/* line 478, ../sass/index.scss */
html body .my-center .func-lst li {
  position: relative;
  padding: 1rem .5rem;
  border-bottom: #ccc solid .05rem;
}
/* line 482, ../sass/index.scss */
html body .my-center .func-lst li img {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 1rem;
}
/* line 488, ../sass/index.scss */
html body .my-center .func-lst li p {
  margin-left: 2.2rem;
}
/* line 491, ../sass/index.scss */
html body .my-center .func-lst li .btn-record {
  position: absolute;
  right: 1rem;
  bottom: .8rem;
  padding: .3rem .8rem;
  background: #ff7199;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  color: white;
  font-weight: 200;
  font-size: .8rem;
  letter-spacing: .1rem;
}
/* line 503, ../sass/index.scss */
html body .my-center .func-lst li .arrow {
  position: absolute;
  border: .015rem solid #ccc;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  right: 1rem;
  top: 50%;
  border-width: 0 .1rem .1rem 0;
  width: .8rem;
  height: .8rem;
  margin-top: -.4rem;
}
/* line 520, ../sass/index.scss */
html body .my-center .self-info-edit {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fef2f6;
}
/* line 528, ../sass/index.scss */
html body .my-center .self-info-edit .info-label {
  width: 100%;
  display: flex;
  align-items: center;
  background: white;
  height: 4rem;
  font-size: 1rem;
  padding: 0 .8rem;
  letter-spacing: .05rem;
  position: relative;
  font-weight: 400;
}
/* line 539, ../sass/index.scss */
html body .my-center .self-info-edit .info-label img {
  width: 2rem;
  height: 2rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  position: absolute;
  right: 2.5rem;
}
/* line 546, ../sass/index.scss */
html body .my-center .self-info-edit .info-label .btn-name {
  position: absolute;
  right: 2.5rem;
  text-align: right;
}
/* line 551, ../sass/index.scss */
html body .my-center .self-info-edit .info-label i {
  position: absolute;
  border: .01rem solid #ccc;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  right: 1rem;
  top: 50%;
  border-width: 0 .2rem .2rem 0;
  width: .9rem;
  height: .9rem;
  margin-top: -.45rem;
}
/* line 565, ../sass/index.scss */
html body .my-center .self-info-edit .btn-logout {
  position: absolute;
  bottom: 3rem;
  width: 80%;
  left: 10%;
  padding: .8rem;
  text-align: center;
  background: #ccc;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .15rem;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
/* line 580, ../sass/index.scss */
html body .my-center .my-address {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fef2f6;
}
/* line 588, ../sass/index.scss */
html body .my-center .my-address .header {
  text-align: center;
  font-size: 1.3rem;
  color: #fb1f7f;
  padding: 1rem 0.5rem;
}
/* line 597, ../sass/index.scss */
html body .my-center .my-address .btn-save {
  padding: 0.8rem 1rem;
  background: #ff7199;
  text-align: center;
  color: white;
  display: block;
  width: 50%;
  margin: 3rem auto;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
/* line 609, ../sass/index.scss */
html body .my-center .contact-us {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fef2f6;
}
/* line 617, ../sass/index.scss */
html body .my-center .contact-us .tab-bar {
  display: flex;
  align-items: center;
  position: relative;
}
/* line 621, ../sass/index.scss */
html body .my-center .contact-us .tab-bar .bar-item {
  flex: 1;
  font-size: 1.2rem;
  color: #cecece;
  text-align: center;
  padding: 1rem;
  font-weight: 300;
  background: white;
}
/* line 630, ../sass/index.scss */
html body .my-center .contact-us .tab-bar .item-active {
  color: #333;
  font-weight: 700;
  position: relative;
}
/* line 634, ../sass/index.scss */
html body .my-center .contact-us .tab-bar .item-active:after {
  background-color: #fb1f7f;
  border-radius: .15rem;
  bottom: 0;
  content: "";
  height: .3rem;
  left: 50%;
  margin-left: -1rem;
  position: absolute;
  width: 2rem;
}
/* line 648, ../sass/index.scss */
html body .my-center .contact-us .service-info {
  margin-top: 1rem;
}
/* line 650, ../sass/index.scss */
html body .my-center .contact-us .service-info .input-bg {
  width: 100%;
  background: white;
  padding: 1rem;
}
/* line 655, ../sass/index.scss */
html body .my-center .contact-us .service-info .input-bg .service-input {
  font-size: 1.35rem;
  font-weight: 500;
  color: #333333;
  line-height: 1.5rem;
  width: 100%;
  padding: 0.5rem;
  resize: none;
  outline: none;
  cursor: text;
  border: #f0f0f0 .01rem solid;
}
/* line 669, ../sass/index.scss */
html body .my-center .contact-us .service-info .service-qrcode {
  background: white;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
}
/* line 674, ../sass/index.scss */
html body .my-center .contact-us .service-info .service-qrcode .title {
  color: #fb1f7f;
  font-size: 1.3rem;
}
/* line 679, ../sass/index.scss */
html body .my-center .contact-us .service-info .service-qrcode img {
  width: 12rem;
  height: auto;
  padding: 2rem;
}
/* line 685, ../sass/index.scss */
html body .my-center .contact-us .service-info .btn-send {
  color: white;
  background: #ff7199;
  width: 80%;
  margin: 2rem auto;
  text-align: center;
  padding: .8rem 0;
  -moz-border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  border-radius: 0.8rem;
}
